html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    width: 1480px;
} 

.img{
    width: 35%;
    float: left;
}
.img ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
.img ul li{
    float: left;
}
.img ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 10px;
    font-size: bold;
}
.menu1{
    width: 65%;
    float: left;
    
}
.menu1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.menu1 ul li{
   float: left;
}

.menu1 ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 10px;
}
.menu1 ul li a:hover{
    background-color: white;
    color: black;
}
.container{
    width: 100%;
    height: 2500px;
    float: left;
    background-color: AntiqueWhite;;
}
h1{
    text-align: center;
    margin-top: 100px;
}
.box1{
    width: 40%;
    height: 400px;
    background-color: gray;
    margin-left: 460px;
    float: left;
    box-shadow: 5px 5px 5px solid black;
}
h2{
    margin-left: 460px;
}
h3{
    margin-top: 80px;
    color: blue;
    font-size: 20px;
    margin-left: 40px;
}
p{
    margin-left: 15px;
    color: white;
}
.p1{
    color: white;
    font-size: 17px;
    margin-left: 30px;  
    text-align: center;
}
.box2{
    width: 40%;
    height: 400px;
    background-color: gray;
    float: left;
}
.Box3{
    width: 60%;
    height: 400px;
    background-color: yellow;
    float: left;
}
.edu{
    margin-top: 500px;
}
p1{
    color: white;
    font-size: 17px;
    margin-left: 35px;  
}
.box4{
    width: 40%;
    overflow: hidden;
    background-color: gray;
    margin-left: 460px;
    float: left;
    box-shadow: 5px 5px 5px solid black;
    margin-top: 40px;
}
.footer{
    width: 100%;
    background-color: gray;
    overflow: hidden;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .menu{
        width: 370px;
    }

    .menu ul li a, .menu1 ul li a{
        padding: 5px;
        font-size: 10px;
        margin-right: 10px;
    }
    .box{
        width: 100%;
        overflow: hidden;
    }
   .container2{
    width: 100%;
   }

   h2{
    margin-left: 20px;
   }

   .box1{
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
   }
   h3{
    margin-top: 50px;
    color: blue;
    font-size: 15px;
    margin-left: 20px;
   }
   p{
    margin-left: 10px;
    color: white;
    font-size: 12px;
   }
   p1{
    margin-left: 15px;
   }
   .p1{
    font-size: 13px;
    margin-top: 20px;
   }
   
   .box4{
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
   }
   .container{
    height: 2700px;
   }
}
